 body{
    background-image: linear-gradient(rgb(214, 214, 233),aqua);
} 
.row1{
    display: flex;
}
.bt{
    width: 100px;
    height: 100px;
    justify-content: center;
}
h1{
    text-align: center;
}
button span{
    visibility: hidden;
}
.contain{
    height: 1500px;
    max-width: 300px;
    margin: auto;
}
.line{
    background-color: red;
    color:#ffffff;
}
